/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

div.gameboard {
  margin: 0 auto;
  position: relative;
  left:15%;
  top:5%
}

#circle { 
   width: 600px;
   height: 600px;
   background: black; 
   border-radius: 50%;
}

#center-console{
  position: relative;
  width:235px;
  height:235px;
  border-radius:50%;
  background: rgb(127, 118, 118);
  z-index: 1; 
  margin:0 auto;
  bottom:61%;
}

h2.game-name{
  position: absolute;
  color: white;
  top:25%;
  left:25%;
  margin: 0 auto;
}

